
.root {
  & a {
    text-decoration: none;
    color: inherit;
  }
}

.desktop {
  flex: 0 0 300px;
}

.paper {
  width: 300px;
  top: auto;
}

.avatar {
  display: block;
  margin: 25px 0;
  text-align: center;

  & > div:first-child {
    margin: 0 auto;
  }
}

.avatarName {
  margin-top: 10px;
  font-size: 1.2rem;
  font-weight: bold;
}